<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'View Rank'" [items]="['Crew','Maintain']"
                [active_item]="'View Rank'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="box-shadow">
                    <div class="card">
                        <div class="body">
                            <div class="container border" id="salesOrderdview"
                                style=" border: 1px solid #b8a6dd!important; border-radius: 10px; background-color: #ecebf7;">

                                
                                <form class="m-4" [formGroup]="docForm">
                              
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" >
                                        </div>
                                      
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" >
                                            <label><b>Code:</b>&nbsp;{{viewDtl?.code}}</label>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                            <label><b>Description:</b> &nbsp;{{viewDtl?.description}}</label>
                                        </div> 
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                            <label><b>Groupage:</b> &nbsp;{{viewDtl?.groupage}}</label>
                                        </div> 
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" >
                                        </div>
                                      
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" >
                                            <label><b>O/T:</b>&nbsp;{{ viewDtl.oAndt ? 'Yes' : 'No' }}</label>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                            <label><b>Department:</b> &nbsp;{{viewDtl?.department}}</label>
                                        </div> 
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                            <label><b>Remarks:</b> &nbsp;{{viewDtl?.remarks}}</label>
                                        </div>  
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" >
                                        </div>
                                      
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" [formGroup]="docForm">
                                            <label><b>Active:</b>&nbsp;
                                                <mat-checkbox [checked]="viewDtl.isActive" style='margin-left: 15px;' disabled></mat-checkbox>
                                            </label>
                                        </div>
                                    
                                    </div>
                                    <br>
                                    <div class="row" >
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" >
                                            <button style="margin-left: 540px;" class="cancelBtn" type="button" mat-button (click)="onCancel()"><mat-icon class="saveCancelIcon">cancel</mat-icon>Cancel</button>

                                        </div>
                                    </div>
                                </form>


                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>