<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Add Personal Contracts'" [items]="['Crew','Maintain','Contracts','Personal Contracts']" [active_item]="'Add Personal Contracts'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="box-shadow">
            <div class="card">
              <div class="body">
               <form class="m-4" autocomplete="off" [formGroup]="docForm">
                <div>
                    <div style="overflow-x: auto;">
                        <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                        <thead class="">
                            <tr>
                            <th style="width: 1%;"></th>
                            <th class="text-center table-heading padding-both-side-2 width_7">Seaman</th>
                            <th class="text-center table-heading padding-both-side-2 width_7">Rank</th>
                            <th class="text-center table-heading padding-both-side-2 width_7">Currency</th>
                            <th class="text-center table-heading padding-both-side-2 width_7">Valdi From</th>
                            <th class="text-center table-heading padding-both-side-2 width_7">Valid To</th>  
                            </tr>
                        </thead>
                        <ng-container *ngFor="let firstDetailBean of docForm.get('firstDetailRow')['controls']; let i = index">
                            <tbody [formGroup]="firstDetailBean">
                            <tr>
                                <td class="padding-both-side-2">
                                    <mat-checkbox class="example-margin mb-13" name="select{{i}}" formControlName="select"></mat-checkbox>
                                </td>
                                <td class="padding-both-side-2">
                                    <app-searchable-select 
                                        [options]="nationalityList" 
                                        placeholderLabel="Search for nationality"
                                        noEntriesFoundLabel="No results found"
                                        [label]="'Nationality'"
                                        formControlName="nationality"
                                        [required]="true"
                                        [errorMessage]="'Nationality is required'">
                                    </app-searchable-select>
                                </td>

                                <td class="padding-both-side-2">
                                    <app-searchable-select 
                                        [options]="rankList" 
                                        placeholderLabel="Search for rank"
                                        noEntriesFoundLabel="No results found"
                                        [label]="'Rank'"
                                        formControlName="rank"
                                        [required]="true"
                                        [errorMessage]="'Rank is required'">
                                    </app-searchable-select>
                                </td>

                                <td class="padding-both-side-2">
                                    <app-searchable-select 
                                        [options]="currencyList" 
                                        placeholderLabel="Search for currency"
                                        noEntriesFoundLabel="No results found"
                                        [label]="'Currency'"
                                        formControlName="currency"
                                        [required]="true"
                                        [errorMessage]="'Currency is required'">
                                    </app-searchable-select>
                                </td>

                                <td class="padding-both-side-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Valid From</mat-label>
                                        <input matInput [matDatepicker]="fromPicker" formControlName="validFromObj" (dateInput)="$event.value.format('YYYY/MM/DD')" id="validFrom" (dateChange)="getDateString($event, 'validFrom')" autocomplete="off" required>
                                        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #fromPicker></mat-datepicker>
                                        <mat-error *ngIf="getDateControl(i,'validFromObj').hasError('required')">
                                            Valid From is required
                                        </mat-error>
                                    </mat-form-field>
                                </td>

                                <td class="padding-both-side-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Valid To</mat-label>
                                        <input matInput [matDatepicker]="toPicker" formControlName="validToObj" (dateInput)="$event.value.format('YYYY/MM/DD')" id="validTo" (dateChange)="getDateString($event, 'validTo')" autocomplete="off" required>
                                        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #toPicker></mat-datepicker>
                                        <mat-error *ngIf="getDateControl(i,'validToObj').hasError('required')">
                                            Valid To is required
                                        </mat-error>
                                    </mat-form-field>
                                </td>
                            </tr>
                            </tbody>
                        </ng-container>
                        </table>
                    </div>
                    <br>
                    <div class="row">
                        <div>
                        <button mat-mini-fab color="primary" (click)="addRow()">
                            <mat-icon class="col-white">add</mat-icon>
                        </button>

                        <button mat-mini-fab color="warn" class="ml-5" (click)="removeRow()">
                            <mat-icon class="col-white">delete</mat-icon>
                        </button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <div style="overflow-x: auto;">
                        <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                        <thead class="">
                          <tr>
                            <th style="width: 1%;"></th>
                            <th class="text-center table-heading padding-both-side-2 width_7">Item</th>
                            <th class="text-center table-heading padding-both-side-2 width_7">Amount</th>
                            <th class="text-center table-heading padding-both-side-2 width_7">Coefficient</th>
                            <th class="text-center table-heading padding-both-side-2 width_7">Parameter</th>
                            <th class="text-center table-heading padding-both-side-2 width_7">Retro</th>  
                            <th class="text-center table-heading padding-both-side-2 width_7">Remarks</th>
                          </tr>
                        </thead>
                        <ng-container *ngFor="let secondDetailBean of docForm.get('secondDetailRow')['controls']; let i = index">
                            <tbody [formGroup]="secondDetailBean">
                            <tr>
                                <td class="padding-both-side-2">
                                    <mat-checkbox class="example-margin mb-13" name="select{{i}}" formControlName="select"></mat-checkbox>
                                </td>
                                <td class="padding-both-side-2">
                                    <app-searchable-select 
                                        [options]="itemList" 
                                        placeholderLabel="Search for a item"
                                        noEntriesFoundLabel="No results found"
                                        [label]="'Item'"
                                        formControlName="item"
                                        [required]="true"
                                        [errorMessage]="'Item is required'">
                                    </app-searchable-select>
                                </td>

                                <td class="padding-both-side-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Amount</mat-label>
                                        <input matInput name="amount{{i}}" formControlName="amount" required>
                                        <mat-error *ngIf="validation(i,'amount').hasError('required')">
                                            Amount is required
                                        </mat-error>
                                    </mat-form-field>
                                </td>

                                <td class="padding-both-side-2">
                                    <app-searchable-select 
                                        [options]="coEfficientList" 
                                        placeholderLabel="Search for a CoEfficient"
                                        noEntriesFoundLabel="No results found"
                                        [label]="'coEfficient'"
                                        formControlName="coEfficient"
                                        [required]="true"
                                        [errorMessage]="'coEfficient is required'">
                                    </app-searchable-select>
                                </td>

                                <td class="padding-both-side-2">
                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label>Parameter</mat-label>
                                    <mat-select name="parameter{{i}}" formControlName="parameter">
                                        <mat-option *ngFor="let title of parameterList" [value]="title.id">
                                        {{title.text}}
                                        </mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </td>

                                <td class="padding-both-side-2">
                                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                    <mat-label>Retro</mat-label>
                                    <mat-select name="retro{{i}}" formControlName="retro">
                                        <mat-option *ngFor="let title of retroList" [value]="title.id">
                                        {{title.text}}
                                        </mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </td>

                                <td class="padding-both-side-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Remarks</mat-label>
                                        <input matInput name="remarks{{i}}" formControlName="remarks">
                                    </mat-form-field>
                                </td>
                            </tr>
                            </tbody>
                        </ng-container>
                        </table>
                    </div>
                    <br>
                    <div class="row">
                        <div>
                        <button mat-mini-fab color="primary" (click)="addRowTwo()">
                            <mat-icon class="col-white">add</mat-icon>
                        </button>

                        <button mat-mini-fab color="warn" class="ml-5" (click)="removeRowTwo()">
                            <mat-icon class="col-white">delete</mat-icon>
                        </button>
                        </div>
                    </div>

                    <div class="center">
                        <button class="btn-space saveBtn" mat-raised-button (click)="save()"><mat-icon class="saveCancelIcon">save</mat-icon>Save</button>
                        <button class="cancelBtn" type="button" mat-button (click)="cancel()"><mat-icon class="saveCancelIcon">cancel</mat-icon>Cancel</button>
                    </div>
                </div>
               </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>