<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'View Country'" [items]="['Crew']"
                [active_item]="'View Country'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="box-shadow">
                    <div class="card">
                        <div class="body">
                            <div class="container border" id="salesOrderdview"
                                style=" border: 1px solid #b8a6dd!important; border-radius: 10px; background-color: #ecebf7;">
                                <form class="m-4" autocomplete="off" [formGroup]="docForm">
                                    <br>
                                <div class="row">
                                    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12" >
                                    </div>
                                  
                                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" >
                                        <label><b>Port Code:</b>&nbsp;{{portDetailItemList?.portCode}}</label>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                        <label><b>Port Name:</b> &nbsp;{{portDetailItemList?.portName}}</label>
                                    </div> 
                                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                        <label><b>Port Type:</b> &nbsp;{{portDetailItemList?.portType}}</label>
                                    </div> 
                                </div>
                                <br>
                                    <br>
                                    <br>
                                    <div class="row" >
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" >
                                            <button style="margin-left: 540px;" class="cancelBtn" type="button" mat-button (click)="onCancel()"><mat-icon class="saveCancelIcon">cancel</mat-icon>Cancel</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>