<!DOCTYPE html>
<html>
<head>
  <style>
    .border1 {
      border: 1px solid black;
      border-collapse: collapse;
    }

    .border1 th, .border1 td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    .border1 th {
      font-weight: 600;
      background: #80808036;
    }

    .header-row {
      font-weight: 600;
      background: #80808036;
    }

    .no-border td {
      border: none;
    }

    .earning-border td:nth-child(1),
    .usd-border td:nth-child(3),
    .per-month-border td:nth-child(5) {
      border: 1px solid black;
    }

    @media print {
      @page {
        size: A4;
        margin: 0;
      }
    }
  </style>
</head>
<body>

  <div class="a4-sheet">
    <div class="header">
      <img src="/assets/images/logo.png" alt="Logo" class="logo" style="width: 125px; height: 122px; display: block; margin-bottom: 20px;">
      <div class="title-container">
        <h1 class="title" style="font-size: 45px; font-weight: bold; margin: -4px;">PVMS<span class="subtitle" style="font-size: 25px; font-weight: normal; margin: -1px;">Ship Management</span><span style="font-size: 40px; font-weight: bold; margin: 11px;">FZE</span></h1>
      </div>
    </div>

    <div>
      <h1 class="title" style="font-size: 19px; font-weight: normal; margin-top: -40px;">SEAFARERS EMPLOYMENT AGREEMENT<span style="font-size: 18px; font-weight: normal;">(In accordance with MLC,2006)</span></h1>
    </div>

    <div>
      <h1 style="font-size: 19px; font-weight: normal; margin-left: 241px;">Between</h1>
    </div>

    <div>
      <h1 style="font-size: 21px; font-weight: normal; margin-left: 156px">PVMS Ship Management FZE</h1>
    </div>

    <div>
      <h1 style="font-size: 11px; font-weight: Bold; margin-left: 43px; margin-top: 30px">7 th Floor, Paragon Dynamics, RR Towers-Phase 3, Thiru Vi Ka Industrial Estate, Guindy, Chennai, Tamil Nadu</h1>
    </div>

    <div>
      <h1 style="font-size: 20px; font-weight: normal; margin-left: 154px; margin-top: 26px; font-family: cursive">(Hereinafter called "The Employer")</h1>
    </div>

    <div>
      <h1 style="font-size: 19px; font-weight: normal; margin-left: 275px; margin-top: 16px">And</h1>
    </div>

    <div>
      <h1 style="font-size: 18px; font-weight: normal; margin-left: -46px">Name of the SEAFARERS :</h1>
    </div>

    <div>
      <h1 style="font-size: 20px; font-weight: normal; margin-left: 154px; margin-top: 26px; font-family: cursive">(Hereinafter called "The SEAFARERS")</h1>
    </div>

    <div>
      <table class="border1" style="width: 100%; margin-top: 20px;">
        <tbody>
          <tr class="header-row">
            <td colspan="2">Date of Birth</td>
            <td colspan="3">01/01/1990</td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Place of Birth</td>
            <td colspan="3"></td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Passport/Seaman Book No</td>
            <td colspan="3">/#N/A</td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Address</td>
            <td colspan="3"></td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Dated</td>
            <td colspan="3">04/06/2024</td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Place</td>
            <td colspan="3">Dubai/MO Office</td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Vessel/IMO</td>
            <td colspan="3">M/V ABU SAMRAH/IMO /9925655</td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Gross Tonnage/Type/Trade</td>
            <td colspan="3">32894/RORO Vessel/F.G</td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Rank Employed In</td>
            <td colspan="3">OLIVER</td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Period of Employment</td>
            <td colspan="3">9 Month(-/+ 2 months)</td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Next of Kin</td>
            <td colspan="3"></td>
          </tr>
          <tr class="header-row">
            <td colspan="2">Relation with Next of Kin</td>
            <td colspan="3"></td>
          </tr>
          <tr class="header-row">
            <td colspan="5" style="font-family: cursive; margin-top: 16px;">Contract Commences from date of departure of joining the vessel from standard international airport</td>
          </tr>
          <tr class="header-row">
            <td >Earning</td>
            <td  style="border: none;">Basic Wages</td>
            <td style="border-right: 1px solid black;">USD</td>
            <td  style="border: none;">690.00</td>
            <td style="border-left: 1px solid black; padding-left: 8px;">Per Month</td>
          </tr>
          <tr class="header-row">
            <td>Earning</td>
            <td  style="border: none;">Leave Pay</td>
            <td style="border-right: 1px solid black;">USD</td>
            <td  style="border: none;">190.00</td>
            <td style="border-left: 1px solid black; padding-left: 8px;">Per Month</td>
          </tr>
          <tr class="header-row">
            <td>Earning</td>
            <td  style="border: none;">Fixed Overtime</td>
            <td style="border-right: 1px solid black;">USD</td>
            <td  style="border: none;"> 260.00</td>
            <td style="border-left: 1px solid black; padding-left: 8px;">Per Month</td>
          </tr>
          <tr class="header-row">
            <td>Earning</td>
            <td  style="border: none;"></td> 
            <td style="border-right: 1px solid black;">USD</td>
            <td  style="border: none;"></td>
            <td style="border-left: 1px solid black; padding-left: 8px;">Per Month</td>
          </tr>
          <tr class="header-row">
            <td>Earning</td>
            <td  style="border: none;"></td> 
            <td style="border-right: 1px solid black;">USD</td>
            <td  style="border: none;"></td>
            <td style="border-left: 1px solid black; padding-left: 8px;">Per Month</td>
          </tr>
          <tr class="header-row">
            <td>Total</td>
            <td  ></td> 
            <td style="border-right: 1px solid black;">USD</td>
            <td  >1,317.00</td>
            <td style="border-left: 1px solid black; padding-left: 8px;">Per Month</td>
          </tr>
        </tbody>
      </table>
      <div>
        <h1 style="font-size: 19px;
        font-weight: normal;
        margin-left: -3px;
        margin-top: 10px;
        font-family: ui-serif">Fixed overtime for 104 hours</h1>
      </div>
      <div>
        <h1 style="font-size: 19px;
        font-weight: normal;
        margin-left: -3px;
        margin-top: 10px;
        font-family: ui-serif">Leave Pay -9 days/month</h1>
      </div>
    </div>
  </div>