<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Add Accountants'" [items]="['Maintain']" [active_item]="'Add Accountants'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body" style="padding-left: 110px;">
                <form class="m-4" [formGroup]="docForm">
                    <table class="table table-borderless mx-auto" style="width: auto;">
                      <tbody>
                        <tr *ngIf="!edit">
                          <td class="align-middle text-right pr-2"><label for="codeInput">CODE</label></td>
                          <td>
                            <mat-form-field class="form-control-sm m-0" appearance="outline">
                              <mat-label></mat-label>
                              <input id="codeInput" matInput formControlName="code" (blur)="validateCountry($event.target.value)" maxlength="3" required>
                              <mat-error *ngIf="docForm.get('code').hasError('required')">Code is required</mat-error>
                              <mat-error *ngIf="docForm.controls['code'].hasError('code')">Code Already Exists !!!</mat-error>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                          <td class="align-middle text-right pr-2"><label for="nameInput">NAME</label></td>
                          <td>
                            <mat-form-field class="form-control-sm m-0" appearance="outline">
                              <mat-label></mat-label>
                              <input id="nameInput" matInput formControlName="description" maxlength="15" required>
                              <mat-error *ngIf="docForm.get('description').hasError('required')">Name is required</mat-error>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                          <td class="align-middle text-right pr-2"><label for="surnameInput">SURNAME</label></td>
                          <td>
                            <mat-form-field class="form-control-sm m-0" appearance="outline">
                              <mat-label></mat-label>
                              <input id="surnameInput" matInput formControlName="description" maxlength="15" required>
                              <mat-error *ngIf="docForm.get('description').hasError('required')">Surname is required</mat-error>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                          <td class="align-middle text-right pr-2"><label for="addressInput">ADDRESS</label></td>
                          <td>
                            <mat-form-field class="form-control-sm m-0" appearance="outline">
                              <mat-label></mat-label>
                              <input id="addressInput" matInput formControlName="description" maxlength="15" required>
                              <mat-error *ngIf="docForm.get('description').hasError('required')">Address is required</mat-error>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                          <td class="align-middle text-right pr-2"><label for="vatNoInput">VAT NO</label></td>
                          <td>
                            <mat-form-field class="form-control-sm m-0" appearance="outline">
                              <mat-label></mat-label>
                              <input id="vatNoInput" matInput formControlName="description" maxlength="15" required>
                              <mat-error *ngIf="docForm.get('description').hasError('required')">VAT No is required</mat-error>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                          <td class="align-middle text-right pr-2"><label for="taxOfficeInput">TAX OFFICE</label></td>
                          <td>
                            <mat-form-field class="form-control-sm m-0" appearance="outline">
                              <mat-label></mat-label>
                              <input id="taxOfficeInput" matInput formControlName="description" maxlength="15" required>
                              <mat-error *ngIf="docForm.get('description').hasError('required')">Tax Office is required</mat-error>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                          <td class="align-middle text-right pr-2"><label for="registerNoInput">REGISTER NO</label></td>
                          <td>
                            <mat-form-field class="form-control-sm m-0" appearance="outline">
                              <mat-label></mat-label>
                              <input id="registerNoInput" matInput formControlName="description" maxlength="15" required>
                              <mat-error *ngIf="docForm.get('description').hasError('required')">Register No is required</mat-error>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                          <td class="align-middle text-right pr-2"><label for="categoryInput">CATEGORY</label></td>
                          <td>
                            <mat-form-field class="form-control-sm m-0" appearance="outline">
                              <mat-label></mat-label>
                              <input id="categoryInput" matInput formControlName="description" maxlength="15" required>
                              <mat-error *ngIf="docForm.get('description').hasError('required')">Category is required</mat-error>
                            </mat-form-field>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                  
                  
                  
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>


