
<form class="m-4" autocomplete="off" [formGroup]="docForm">
  <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Items to Order Comments</mat-label>
          <textarea matInput formControlName="itemsToOrderCommends"></textarea>
        </mat-form-field>
  </div>
<br>
<div>
  <button class="btn-space saveBtn" mat-raised-button (click)="itemsToOrderCommendsCall()"><mat-icon class="saveCancelIcon">done_all</mat-icon>Ok</button>

  <button class="cancelBtn" type="button" mat-button (click)="cancel()"><mat-icon class="saveCancelIcon">cancel</mat-icon>Cancel</button>
</div>
</form>






 
