<section class="content">
    <div class="content-block">
      <div class="block-header">
      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card" >
            <div class="body" style="height: 500px;">
              <form class="m-4" [formGroup]="docForm">
            <div class="tableBody">
              <div class="table-responsive">
                  <table class="table table-hover ">
                      <thead>
                          <tr>
                            <th><input type="checkbox"  (change)="selectAll($event)"></th>
                              <th>No</th>
                              <th>Code</th>
                              <th>Name</th>
                       
                          </tr>
                      </thead>
                      <tbody>
                          <tr
                              *ngFor="let data of mainList; let i = index">
                              <td><input type="checkbox" [checked]="data.selected" (change)="select($event, i)"></td>
                              <td>{{data.no}}</td>
                              <td>{{data.code}}</td>
                              <td>{{data.name}}</td>
                            
                          </tr>
                      </tbody>
                  </table>
                

              </div>
          </div>
<br>



<br>
                <div class="row" > 
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" style="display: flex; justify-content: center;">
                    <button   class="btn-space" mat-raised-button
                      (click)="add()" style=" border: 2px solid rgb(0, 225, 255);">Add</button>
                      <button   class="btn-space" mat-raised-button
                      (click)="remove()" style=" border: 2px solid rgb(0, 225, 255);">Remove</button>
                    <button class="cancelBtn" type="button" mat-button (click)="onCancel()" mat-raised-button>  Exit</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
