<div style="padding:2%; background: rgb(0,38,51);background: linear-gradient(0deg, rgba(0,38,51,1) 0%, rgba(9,75,97,1) 43%, rgba(3,111,145,1) 100%);">
    <h5 style="text-align:center;color:#ffff;">View Description/Comments</h5>
  </div>
  <p>Per Vessel and Department Starting From 5100</p>
  <div style="margin-top: 31%;margin-left: 33%;">
    <button class="btn-space saveBtn" mat-raised-button (click)="copy()">Copy</button>
    <button (click)="exit()" class="btn-space" color="warn" type="button" mat-raised-button><mat-icon>cancel</mat-icon>Cancel</button>
</div>