<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Add Pay Items'" [items]="['Crew']" [active_item]="'Add Pay Items'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="box-shadow">
                    <div class="card">
                        <div class="body">
                            <form class="m-4" [formGroup]="docForm">

                                <div style="overflow-x: auto; max-width: 100%;">
                                    <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                                        <thead class="">

                                            <tr>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style="
                            width: 2%; border-radius: 0.05rem; "></th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Code</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Description</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%;border-radius: 0.07rem;">Debit code</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Credit Code</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Item Revenue Exp</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%;border-radius: 0.07rem;">Item Type</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Onboard (Extra)</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%;border-radius: 0.07rem;">Sort</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                           width: 4%;border-radius: 0.07rem;">Contract Filters</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                                  width: 4%; border-radius: 0.05rem;">Grouping</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                                                       width: 4%;border-radius: 0.07rem;">Quantity Calculation</th>
                                        </thead>

                                        <ng-container
                                            *ngFor="let payitemsDetails of docForm.get('payitemsDetails')['controls']; let i = index">
                                            <tbody [formGroup]="payitemsDetails">

                                                <tr>
                                                    <td class="padding-both-side-2">
                                                        <button mat-mini-fab color="warn" (click)="removeRow(i)">
                                                            <mat-icon class="col-white">delete</mat-icon>
                                                        </button>
                                                    </td>

                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Code</mat-label>
                                                            <input matInput name="code{{i}}" formControlName="code">

                                                        </mat-form-field>

                                                    </td>

                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Description</mat-label>
                                                            <input matInput name="description{{i}}"
                                                                formControlName="description">

                                                        </mat-form-field>

                                                    </td>

                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Debite code</mat-label>
                                                            <input matInput name="debitecode{{i}}"
                                                                formControlName="debitecode">

                                                        </mat-form-field>

                                                    </td>

                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Credit Code</mat-label>
                                                            <input matInput name="creditcode{{i}}"
                                                                formControlName="creditcode">

                                                        </mat-form-field>

                                                    </td>




                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Item Revenue Exp</mat-label>



                                                            <mat-select  name="itemRevenueExp{{i}}" formControlName="itemRevenueExp" #supplieritemRevenueExp>
                                                                <mat-option>
                                                                    <ngx-mat-select-search [placeholderLabel]="'Search'" 
                                                                        [noEntriesFoundLabel]="'no results found'"
                                                                        [formControl]="itemRevenueExpFilterCtrl"></ngx-mat-select-search>
                                                                </mat-option>
                                                                <mat-option
                                                                    *ngFor="let title of itemRevenueExpFilteredOptions | async"
                                                                    [value]="title.id">
                                                                    {{title.text}}
                                                                </mat-option>
                                                            </mat-select>




                                                        </mat-form-field>

                                                    </td>
                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Item Type</mat-label>


                                                            
                                                            <mat-select  name="itemType{{i}}" formControlName="itemType" #itemType>
                                                                <mat-option>
                                                                    <ngx-mat-select-search [placeholderLabel]="'Search'" 
                                                                        [noEntriesFoundLabel]="'no results found'"
                                                                        [formControl]="itemTypeFilterCtrl"></ngx-mat-select-search>
                                                                </mat-option>
                                                                <mat-option
                                                                    *ngFor="let title of itemTypeFilteredOptions | async"
                                                                    [value]="title.id">
                                                                    {{title.text}}
                                                                </mat-option>
                                                            </mat-select>





                                                        </mat-form-field>

                                                    </td>

                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Onboard (Extra)</mat-label>


                                                                
                                                            <mat-select  name="onboard{{i}}" formControlName="onboard" #onboard>
                                                                <mat-option>
                                                                    <ngx-mat-select-search [placeholderLabel]="'Search'" 
                                                                        [noEntriesFoundLabel]="'no results found'"
                                                                        [formControl]="onboardFilterCtrl"></ngx-mat-select-search>
                                                                </mat-option>
                                                                <mat-option
                                                                    *ngFor="let title of onboardFilteredOptions | async"
                                                                    [value]="title.id">
                                                                    {{title.text}}
                                                                </mat-option>
                                                            </mat-select>



                                                        </mat-form-field>

                                                    </td>


                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Sort</mat-label>
                                                            <input matInput name="sort{{i}}" formControlName="sort">

                                                        </mat-form-field>

                                                    </td>
                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                           <mat-label>Contract Filters</mat-label>

                                                                                                    
                                                           <mat-select  name="contentsFilters{{i}}" formControlName="contentsFilters" #contentsFilters>
                                                            <mat-option>
                                                                <ngx-mat-select-search [placeholderLabel]="'Search'" 
                                                                    [noEntriesFoundLabel]="'no results found'"
                                                                    [formControl]="contentsFilterslistFilterCtrl"></ngx-mat-select-search>
                                                            </mat-option>
                                                            <mat-option
                                                                *ngFor="let title of contentsFilterslistFilteredOptions | async"
                                                                [value]="title.id">
                                                                {{title.text}}
                                                            </mat-option>
                                                        </mat-select>



                                    

                                                        </mat-form-field>

                                                    </td>



                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Grouping</mat-label>

                                                            
                                                                                                    
                                                           <mat-select  name="grouping{{i}}" formControlName="grouping" #grouping>
                                                            <mat-option>
                                                                <ngx-mat-select-search [placeholderLabel]="'Search'" 
                                                                    [noEntriesFoundLabel]="'no results found'"
                                                                    [formControl]="groupingFilterCtrl"></ngx-mat-select-search>
                                                            </mat-option>
                                                            <mat-option
                                                                *ngFor="let title of groupingFilteredOptions | async"
                                                                [value]="title.id">
                                                                {{title.text}}
                                                            </mat-option>
                                                        </mat-select>



                                                        </mat-form-field>

                                                    </td>
                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Quantity Calculation</mat-label>

                                                            <mat-select  name="quantityCalculation{{i}}" formControlName="quantityCalculation" #quantityCalculation>
                                                                <mat-option>
                                                                    <ngx-mat-select-search [placeholderLabel]="'Search'" 
                                                                        [noEntriesFoundLabel]="'no results found'"
                                                                        [formControl]="quantityCalculationFilterCtrl"></ngx-mat-select-search>
                                                                </mat-option>
                                                                <mat-option
                                                                    *ngFor="let title of quantityCalculationFilteredOptions | async"
                                                                    [value]="title.id">
                                                                    {{title.text}}
                                                                </mat-option>
                                                            </mat-select>
    
                                                        </mat-form-field>

                                                    </td>



                                                </tr>


                                            </tbody>
                                        </ng-container>
                                    </table>

                                </div>


                                <div class="row">
                                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 ">
                                        <button mat-mini-fab color="primary" (click)="addRow()">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>&nbsp;
                                    </div>
                                </div>


                                <br>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">

                                        <!-- <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button
                                            color="accent"
                                            style="margin-left: 36%;background-color: #34d034;">Submit</button> -->
                                            <button *ngIf="!edit" class="btn-space saveBtn" mat-raised-button style="margin-left: 36%;"(click)="onSubmit()">
                                            <mat-icon class="saveCancelIcon">save</mat-icon>Save</button>
                                            <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button
                                            color="accent"
                                            style="margin-left: 36%;background-color: #34d034;">Update</button>
                                        <button color="primary" type="button" class="btn-space" (click)="reset()"
                                            mat-raised-button>Reset</button>
                                            <button class="cancelBtn" type="button" mat-button (click)="onCancel()">
                                                <mat-icon class="saveCancelIcon">cancel</mat-icon>Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>