<h6 style="margin-left: 39%; color: #4694c6; font-size: 19px;">Application Popup</h6>
<br><br>
<div class="row">
  <div *ngFor="let certificate of certificateList; let certificateIndex = index" class="col-md-12">
    <!-- Loop through the splitCertificateNames array -->
    <div *ngFor="let nameObj of certificate.splitCertificateNames; let nameIndex = index" class="row">
      <div class="col-md-3">
        <label><b>{{nameObj.name}}</b></label>
      </div>
      
      <!-- Additional content to display for each split name -->
      <div class="col-md-3">
        <app-file-upload></app-file-upload>
      </div>
    
      <div class="col-md-2">
        <label class="checkbox-container mandatory-valid" style="font-size: 16px;">
          <input type="checkbox" (click)="check(certificateIndex, nameIndex, 'mandatoryValidCheckbox')" [checked]="nameObj.mandatoryFlag">
          <span class="checkmark"></span>
          Mandatory Valid
        </label>
      </div>
      
      <div class="col-md-2">
        <label class="checkbox-container mandatory-invalid" style="font-size: 14px;">
          <input type="checkbox" (click)="check(certificateIndex, nameIndex, 'mandatoryInvalidCheckbox')" [checked]="nameObj.mandatoryInvalidFlag">
          <span class="checkmark"></span>
          Mandatory Invalid
        </label>
      </div>
      
      <div class="col-md-2">
        <label class="checkbox-container optional-invalid" style="font-size: 14px;">
          <input type="checkbox" (click)="check(certificateIndex, nameIndex, 'optionalInvalidCheckbox')" [checked]="nameObj.optionalFlag">
          <span class="checkmark"></span>
          Optional Invalid
        </label>
      </div>
    </div>
  </div>
</div>

<br>
<div class="center">
  <button class="btn-space saveBtn" mat-raised-button (click)="onSubmit()">
    <mat-icon class="saveCancelIcon">save</mat-icon>Save
  </button>
</div>
