<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'View Rank Shift '" [items]="['Crew','Maintain']"
                [active_item]="'View Rank Shift '">
            </app-breadcrumb>
        </div>
        <div class="row clearfix ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="box-shadow">
                    <div class="card">
                        <div class="body">
                            <div class="container border" id="salesOrderdview"
                                style=" border: 1px solid #b8a6dd!important; border-radius: 10px; background-color: #ecebf7;">

                                <form class="m-4" [formGroup]="docForm">
                              
                                    <div class="row">
                                        <!-- <div class="col-xl-2 col-lg-6 col-md-12 col-sm-12" >
                                        </div> -->
                                      
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12" >
                                            <label><b>Vessel:</b>&nbsp;{{viewDtl?.vessel}}</label>
                                        </div>
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                            <label><b>Rank:</b> &nbsp;{{viewDtl?.rankcode}}</label>
                                        </div> 
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                            <label><b>Starting Date:</b> &nbsp;{{viewDtl?.sDate}}</label>
                                        </div> 
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                            <label><b>Ending Date:</b> &nbsp;{{viewDtl?.eDate}}</label>
                                        </div> 
                                        <br>
                                        <br>
                                        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                                            <label><b>Remarks:</b> &nbsp;{{viewDtl?.remarks}}</label>
                                        </div> 
                                        
   


                        </div>
                        <table class="border1"
                        style="width: 100%; border: 1px solid rgb(157, 158, 163); border-collapse: collapse; margin-top: 20px; text-align: right;">
                        <tr
                            style=" text-align: center; height: 30px; vertical-align: middle; background-color: rgb(96 125 139 / 82%); color: rgb(252, 248, 248);   text-indent: 4px;">
                            <th>Shift Start</th>
                            <th>Shift End</th>
                            <th>Place</th>
                            <th>Watch Keeping</th>
                            
                            <th></th>
                        </tr>
                        <ng-container *ngFor="let item of secondDetailRow; let i = index">
                            <tr
                                style="border-top: 1px solid #eee; border-bottom: 1px solid #eee; font-weight: normal; border-radius: 0.25rem; text-align: center; height: 40px; background-color: rgba(255, 255, 255, 0.82);">
                                <td class="padding-both-side-2">{{viewDtl?.shiftStart}}</td>
                                <td class="padding-both-side-2">{{viewDtl?.shiftEnd}}</td>
                                <td class="padding-both-side-2">{{viewDtl?.place}}</td>
                                <td class="padding-both-side-2">{{viewDtl?.watchKeeping}}</td>
                               
                                <td></td>
                            </tr>
                           

                        </ng-container>
                    </table>
                        

                                    <br>
                                    <div class="row" >
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3" >
                                            <button style="margin-left: 530px;" class="cancelBtn" type="button" mat-button (click)="onCancel()"><mat-icon class="saveCancelIcon">cancel</mat-icon>Cancel</button>

                                        </div>
                                    </div>
                                </form>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>