<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Add Define Paired Rank'" [items]="['Crew']" [active_item]="'Add Define Paired Rank'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="box-shadow">
                    <div class="card">
                        <div class="body" style="padding-left: 110px;">
                            <form class="m-4" [formGroup]="docForm">

                                <div style="overflow-x: auto; max-width: 100%;">
                                    <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                                        <thead class="">

                                            <tr>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style="
                            width: 2%; border-radius: 0.05rem; "></th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Current Rank</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Paired Rank(Previous)</th>
                                            </tr>
                                        </thead>

                                        <ng-container
                                            *ngFor="let definepairedrankDetails of docForm.get('definepairedrankDetails')['controls']; let i = index">
                                            <tbody [formGroup]="definepairedrankDetails">

                                                <tr>
                                                    <td class="padding-both-side-2">
                                                        <mat-checkbox class="example-margin mb-13" name="select{{i}}" formControlName="select"></mat-checkbox>
                                                    </td>

                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Current Rank</mat-label>


                                                            <mat-select  name="currentRank{{i}}" formControlName="currentRank" #rank>
                                                                <mat-option>
                                                                    <ngx-mat-select-search [placeholderLabel]="'Search'" 
                                                                        [noEntriesFoundLabel]="'no results found'"
                                                                        [formControl]="rankFilterCtrl"></ngx-mat-select-search>
                                                                </mat-option>
                                                                <mat-option
                                                                    *ngFor="let title of rankFilteredOptions | async"
                                                                    [value]="title.id">
                                                                    {{title.text}}
                                                                </mat-option>
                                                            </mat-select>


                                                        </mat-form-field>

                                                    </td>

                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Paired Rank</mat-label>

                                                                <mat-select   name="pairedRank{{i}}"
                                                                formControlName="pairedRank" #rank>
                                                                    <mat-option>
                                                                        <ngx-mat-select-search [placeholderLabel]="'Search'" 
                                                                            [noEntriesFoundLabel]="'no results found'"
                                                                            [formControl]="rankFilterCtrl"></ngx-mat-select-search>
                                                                    </mat-option>
                                                                    <mat-option
                                                                        *ngFor="let title of rankFilteredOptions | async"
                                                                        [value]="title.id">
                                                                        {{title.text}}
                                                                    </mat-option>
                                                                </mat-select>
                                                        </mat-form-field>

                                                    </td>

                                                </tr>


                                            </tbody>
                                        </ng-container>
                                    </table>

                                </div>


                                <div class="row">
                                    <div>
                                    <button mat-mini-fab color="primary" (click)="addRow()">
                                        <mat-icon class="col-white">add</mat-icon>
                                    </button>
            
                                    <button mat-mini-fab color="warn" class="ml-15" (click)="removeRow()">
                                        <mat-icon class="col-white">delete</mat-icon>
                                    </button>
                                    </div>
                                </div>


                                <br>
                                <div class="center" style="margin-top: 1px;
                               margin-right: 316px">
                           <button class="btn-space saveBtn" mat-raised-button (click)="save()"><mat-icon class="saveCancelIcon">save</mat-icon>Save</button>
                           <button class="cancelBtn" type="button" mat-button (click)="cancel()"><mat-icon class="saveCancelIcon">cancel</mat-icon>Cancel</button>
                                 </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>