<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Identifiers Library'" [items]="['Supplies','Maintain']"
                [active_item]="'Identifiers Library'">
            </app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

              <div class="card">
                <div class="body">
                    <div class="materialTableHeader" style="min-width: 275px; padding-bottom: 14% !important;">
                      <div class="row">
                      
                        <div class="col-md-4">
                          <ul class="header-buttons-left ms-0" >
                            
                            <li class="dropdown m-l-20">
                              <label for="search-input"><i class="material-icons search-icon">search</i></label>
                              <input placeholder="Search" type="text" #filter class="browser-default search-field"
                                aria-label="Search box">
                            </li>
                       
                          </ul>
                        </div>
                        </div>
                        </div>
                        <!-- <li class="dropdown m-l-20 ">
                            <h2>Categories</h2>
                          </li> -->
                          <div style="padding:2%; background: rgb(0,38,51);background: linear-gradient(0deg, rgba(0,38,51,1) 0%, rgba(9,75,97,1) 43%, rgba(3,111,145,1) 100%);">
                            <h5 style="text-align:center;color:#ffff;">Categories</h5>
                          </div>
<!--                      

                          <ul style="padding: 3%;">
                           
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Countries</li>
                            <li><app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Functions <br>
                                <ul>
                                    <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons>gdshg</li>
                                </ul>
                            </li>

                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Location Numbers</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Locations</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Lub Oil Categories</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Origin</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Payment Terms</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Requisition Descriptions</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Ship Class</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Storage Places</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Supplier (office) Evaluation Subfactors</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Supplier Evaluation Scores</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Supplier Evaluation SubFactors</li>
                            <li> <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> Type Of Freight</li>

                            
                        </ul> -->
               
            <div class="row clearfix" *ngFor="let grpList of groupHead">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>          
                        <mat-panel-title style="color:#000d1b;font-size: 14px; text-transform: uppercase;">
                            <app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons>&nbsp;&nbsp;<span>{{grpList.groupHeadName}}</span>
                            </mat-panel-title> 
                      </mat-expansion-panel-header>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:8%">
                          <div class="panel-body"  *ngFor="let subGroup of grpList.subGroupBean">
                            <span style="color:#000d1b; font-size: 14px; text-transform: uppercase;"><app-feather-icons [icon]="'list'"  [class]="'tbl-fav-list'"></app-feather-icons> &nbsp;{{subGroup.subGroupCode}}</span>
                          </div>
                         </div>
                        </div> 
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </div>
           </div>
        </div>

                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="card">
                        <div class="body">
                          <div class="table-responsive">
                            <div class="materialTableHeader">
                                <div class="row">
                        <div class="col-md-9">
                            <ul class="header-buttons-left ms-0">
                              
                              <li class="dropdown m-l-20">
                                <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                <input placeholder="Search" type="text" #filter class="browser-default search-field"
                                  aria-label="Search box">
                              </li>&nbsp;
                         
                              <button mat-mini-fab color="primary" (click)="addRow()">
                                <mat-icon class="col-white">add</mat-icon>
                              </button>


                            </ul>

                            
                
                          </div>
                          </div>
                          </div>

                          <!-- <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                          #exporter="matTableExporter">
                          
                          <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">{{row.description}}</mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="code">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                            <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">{{row.code}}</mat-cell>
                          </ng-container>
                        
                        
                   
                    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"
                      [style.cursor]="'pointer'" matRipple>
                    </mat-row>
                  </mat-table> -->
                
                  <div style="overflow-x: auto; max-width: 100%;">
                    <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                      <thead class="">
  
                        <tr>
                          <th class="text-center table-heading padding-both-side-2 width_7" style="
                                  width: 2%; border-radius: 0.05rem; "></th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                         width: 4%; border-radius: 0.05rem;">Description</th>
                          <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                         width: 4%;border-radius: 0.07rem;">Code</th>
                          
                        </tr>
                      </thead>
  
                      <ng-container
                        *ngFor="let identifiertable of docForm.get('identifiertable')['controls']; let i = index">
                        <tbody [formGroup]="identifiertable">
  
                          <tr>
                            <td class="padding-both-side-2">
                              
                              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                <mat-icon class="mt-19" style="color: #e80000;cursor: pointer;" (click)="deleteRow(i)">delete_forever</mat-icon>
                            </div>
                            </td>
  
  
  
                            <td class="padding-both-side-2">
                              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                <mat-label>Description</mat-label>
                                <input matInput name="description{{i}}" formControlName="description">
  
                              </mat-form-field>
                            </td>
  
                            <td class="padding-both-side-2">
                              <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                                <mat-label>Code</mat-label>
                                <input matInput name="code{{i}}" formControlName="code">
                              </mat-form-field>
                            </td>
                            </tr>
                        </tbody>
                    </ng-container>


                  </table>
                  </div>
                  <!-- Loading spinner -->
                  <!-- <div *ngIf="exampleDatabase.isTblLoading" class="tbl-spinner">
                    <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                    </mat-progress-spinner>
                  </div> -->
                  <!-- context menu start -->
                  <!-- <div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
                    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
                  </div>
                  <mat-menu #contextMenu="matMenu">
                    <ng-template matMenuContent let-item="item">
                      <button mat-menu-item (click)="addNew()">
                        <mat-icon>add_box</mat-icon>
                        <span>Add Record</span>
                      </button>
                      <button mat-menu-item (click)="editCall(item)">
                        <mat-icon>create</mat-icon>
                        <span>Edit Record</span>
                      </button>
                      <button mat-menu-item (click)="deleteItem(item.id,item)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete Record</span>
                      </button>
                      <button mat-menu-item (click)="refresh()">
                        <mat-icon>refresh</mat-icon>
                        <span>Refresh Record</span>
                      </button>
                      <button mat-menu-item disabled>
                        <mat-icon>no_encryption</mat-icon>
                        <span>Disable</span>
                      </button>
                      <button mat-menu-item [matMenuTriggerFor]="nestedmenu">
                        <mat-icon>list_alt</mat-icon>
                        <span> Nested Menu</span>
                      </button>
                    </ng-template>
                  </mat-menu>
                  <mat-menu #nestedmenu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>mail_outline</mat-icon>
                      <span>Item 1</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>call</mat-icon>
                      <span>Item 2</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>chat</mat-icon>
                      <span>Item 3</span>
                    </button>
                  </mat-menu>
                 
                  <div *ngIf="!exampleDatabase.isTblLoading" class="no-results"
                    [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                    No results
                  </div>
                  <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator> -->
                </div>
            </div>
               </div>
</div>
       
    </div>
    </div>
    </section>