@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
/* You can add global styles to this file, and also import other style files */
.box-shadow{
    //box-shadow: 0px 0px 13px 3px rgb(0 0 0 / 60%);
}
.mat-form-field-appearance-outline .mat-form-field-outline{
color:rgb(161 161 161);
background-color: #fff;

//box-shadow: 0px 2px 13px -6px rgb(0 0 0 / 67%) !important;
}
.auth-form-section {
    background-color: #ffffffb3;
    border-radius: 18px;
}

.mat-form-field {
    font-size: 13px !important;
}
 .mat-form-field-appearance-outline .mat-form-field-label {
    font-size: 12px !important;
    margin-top: -0.15625em !important
   
}
.mat-form-field-label:not(.mat-form-field-empty){
    top: 21px !important;
}
.mat-form-field.mat-focused .mat-form-field-label{
    top: 21px !important;
}
.mat-error {
    font-size: 10px !important;
}
.mat-mini-fab .mat-button-wrapper {
    padding: 3px 0 !important;
    line-height: 2px;
}
.mat-mini-fab {
    border-radius: 0% !important; 
    width: 30px !important;
    height: 30px !important;
}
.materialTableHeader .header-buttons-left{
    padding-left: -3px;
   
}
.materialTableHeader .header-buttons-left input.search-field {
    height: 35px !important;
}
.mat-icon {
    height: 32px !important;
}
.mat-header-row {
    min-height: 35px !important;
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 10px !important;
}
.mat-cell, .mat-footer-cell {
    font-size: 12px !important;
}
mat-row, mat-footer-row {
    min-height: 40px !important;
}
.mat-paginator-container {
    min-height: 40px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start{
    border-radius: 9px 0px 0px 9px !important;

}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px 5px 5px 0px !important;
}
.breadcrumb-main{
    padding: 0.5%;
}
.materialTableHeader{
    padding-top: 1% !important;
    padding-bottom: 4% !important;
       
}

.multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    height: 50px;
    margin-top: 6px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.saveBtn {
    background-color: #147c14;
    color: white;
}

.cancelBtn {
    background-color: #a61f1f;
    color: white;
}

.checkListBtn{
    background-color: #57c8de;
    color: white;
}

.w-90{
    width: 90%;
}

.w-40{
    width: 40%;
}

.w-100{
    width: 100%;
}

.mb-13{
    margin-bottom: 13px;
}

.ml-5{
    margin-left: 5px !important;
}
