@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
/* You can add global styles to this file, and also import other style files */
.box-shadow{
    //box-shadow: 0px 0px 13px 3px rgb(0 0 0 / 60%);
}
.mat-form-field-appearance-outline .mat-form-field-outline{
color:rgb(161 161 161);
background-color: #fff;

//box-shadow: 0px 2px 13px -6px rgb(0 0 0 / 67%) !important;
}
.auth-form-section {
    background-color: #ffffffb3;
    border-radius: 18px;
}

.mat-form-field {
    font-size: 13px !important;
}
 .mat-form-field-appearance-outline .mat-form-field-label {
    font-size: 12px !important;
    margin-top: -0.15625em !important
   
}
.mat-form-field-label:not(.mat-form-field-empty){
    top: 21px !important;
}
.mat-form-field.mat-focused .mat-form-field-label{
    top: 21px !important;
}
.mat-error {
    font-size: 10px !important;
}
.mat-mini-fab .mat-button-wrapper {
    padding: 3px 0 !important;
    line-height: 2px;
}
.mat-mini-fab {
    border-radius: 0% !important; 
    width: 30px !important;
    height: 30px !important;
}
.materialTableHeader .header-buttons-left{
    padding-left: -3px;
   
}
.materialTableHeader .header-buttons-left input.search-field {
    height: 35px !important;
}
.mat-icon {
    height: 32px !important;
}
.mat-header-row {
    min-height: 35px !important;
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 10px !important;
}
.mat-cell, .mat-footer-cell {
    font-size: 12px !important;
}
mat-row, mat-footer-row {
    min-height: 40px !important;
}
.mat-paginator-container {
    min-height: 40px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start{
    border-radius: 9px 0px 0px 9px !important;

}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px 5px 5px 0px !important;
}
.breadcrumb-main{
    padding: 0.5%;
}
.materialTableHeader{
    padding-top: 1% !important;
    padding-bottom: 4% !important;
       
}

.multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #adadad;
    width: 100%;
    height: 50px;
    margin-top: 6px;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.saveBtn {
    background-color: #147c14;
    color: white;
}

.cancelBtn {
    background-color: #a61f1f;
    color: white;
}

.checkListBtn{
    background-color: #57c8de;
    color: white;
}

.w-90{
    width: 90%;
}

.w-40{
    width: 40%;
}

.w-20{
    width: 20%;
}

.w-100{
    width: 100%;
}

.mb-13{
    margin-bottom: 13px;
}

.ml-5{
    margin-left: 5px !important;
}

.ml-15{
    margin-left: 15px !important;
}

.mt-19{
    margin-top: 19px;
}

.mt-5{
    margin-top: 5px !important;
}

.mt-15{
    margin-top: 15px !important;
}

.saveCancelIcon{
    height: 25px !important;
    font-size: 1.5rem;
}

.flex-sb{
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.flex-se{
    display: flex;
    justify-content: space-evenly;
}

.c-pointer{
    cursor: pointer;
}

.time-icon{
    height: 27px !important;
}

.time-btn{
    background-color: #147c7b;
    color: white;
}

.time-picker {
    position: relative;
}

.time-picker::-webkit-calendar-picker-indicator {
    background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20enable-background%3D%22new%200%200%2024%2024%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%23000000%22%3E%3Cg%3E%3Crect%20fill%3D%22none%22%20height%3D%2224%22%20width%3D%2224%22%2F%3E%3C%2Fg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M12%2C2C6.5%2C2%2C2%2C6.5%2C2%2C12s4.5%2C10%2C10%2C10s10-4.5%2C10-10S17.5%2C2%2C12%2C2z%20M16.2%2C16.2L11%2C13V7h1.5v5.2l4.5%2C2.7L16.2%2C16.2z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}
  
// :host ::ng-deep .mat-form-field-infix {
//     display: flex;
// }
  
.mat-form-field {
    width: 100%;
}

.example-full-width {
    width: 100%;
}
  
.date-time-container {
    display: flex;
    align-items: center;
}
  
.time-picker {
    margin-left: 8px; 
}

.w-70{
    width: 70% !important;
}

.budgetHighlight.active{
    background: green;
    border-radius: 3px;
    padding: 5px;
    color: white;
}

.budgerHeader{
    padding: 5px;
    background: #276a7a;
    border-radius: 5px;
    color: white;
}

.align{
    display: flex;
    align-items: center;
}


  
  