<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Add Pay Types'" [items]="['Crew']" [active_item]="'Add Pay Types'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="box-shadow">
                    <div class="card">
                        <div class="body" style="padding-left: 110px;">
                            <form class="m-4" [formGroup]="docForm">

                                <div style="overflow-x: auto; max-width: 100%;">
                                    <table id="dt_basic" class="table table-striped font-weight-bold " role="grid">
                                        <thead class="">

                                            <tr>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style="
                            width: 2%; border-radius: 0.05rem; "></th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Pay Type</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Sorting</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%;border-radius: 0.07rem;">Contents</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Description</th>
                                                 <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Pay</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%;border-radius: 0.07rem;">Mga</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%; border-radius: 0.05rem;">Office</th>
                                                <th class="text-center table-heading padding-both-side-2 width_7" style=" 
                            width: 4%;border-radius: 0.07rem;">Col</th>
                                        </thead>

                                        <ng-container
                                            *ngFor="let payTypesdetail of docForm.get('payTypesdetail')['controls']; let i = index">
                                            <tbody [formGroup]="payTypesdetail">

                                                <tr>
                                                    <td class="padding-both-side-2">
                                                        <button mat-mini-fab color="warn" (click)="removeRow(i)">
                                                            <mat-icon class="col-white">delete</mat-icon>
                                                        </button>
                                                    </td>

                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Pay Type</mat-label>

                                                            <mat-select name="payType{{i}}"
                                                                formControlName="payType" >
                                                                <mat-option [value]="'PaySlips'">
                                                                    PaySlips
                                                                </mat-option>
                                                                <mat-option [value]="'Income and Expense'">
                                                                    Income and Expense
                                                                </mat-option>
                                                                <mat-option [value]="'  Pay for repor'">
                                                                    Pay for repor
                                                                </mat-option>
                                                            </mat-select>



                                                        </mat-form-field>

                                                    </td>
                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Sorting</mat-label>
                                                            <input matInput name="siNo{{i}}" formControlName="siNo">

                                                        </mat-form-field>

                                                    </td>
                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Contents</mat-label>
                                                            <mat-select formControlName="contents" 
                                                                name="contents{{i}}">
                                                                <mat-option [value]="' Balance Payable'">
                                                                    Balance Payable
                                                                </mat-option>
                                                                <mat-option [value]="'Privious Balance'">
                                                                    Privious Balance
                                                                </mat-option>
                                                                <mat-option [value]="'Basic Wages'">
                                                                    Basic Wages
                                                                </mat-option>
                                                            </mat-select>

                                                        </mat-form-field>

                                                    </td>



                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Description</mat-label>
                                                            <input matInput name="description{{i}}" formControlName="description">

                                                        </mat-form-field>

                                                    </td>
                                                   <td class="padding-both-side-2">
                                                   
                                                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                                            <mat-checkbox formControlName="pay" name="pay{{i}}" ngInit="checked=true"></mat-checkbox>

                                                          </div>
                                                        

                                                    </td>
                                                    <td class="padding-both-side-2">
                                                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                                            <mat-checkbox formControlName="mga" name="mga{{i}}" ngInit="checked=true"></mat-checkbox>

                                                          </div>
                                                        

                                                    </td>
                                                    <td class="padding-both-side-2">
                                                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                                            <mat-checkbox formControlName="office" name="office{{i}}" ngInit="checked=true"></mat-checkbox>

                                                          </div>
                                                        

                                                    </td> 
                                                    <td class="padding-both-side-2">
                                                        <mat-form-field class="example-full-width form-control-sm"
                                                            appearance="outline">
                                                            <mat-label>Col</mat-label>
                                                            <input matInput name="col{{i}}" formControlName="col">

                                                        </mat-form-field>

                                                    </td>
                                                </tr>


                                            </tbody>
                                        </ng-container>
                                    </table>

                                </div>


                                <div class="row">
                                    <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12 ">
                                        <button mat-mini-fab color="primary" (click)="addRow()">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>&nbsp;
                                    </div>
                                </div>


                                <br>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">

                                        <button *ngIf="!edit" (click)="onSubmit()" class="btn-space" mat-raised-button
                                            color="accent"
                                            style="margin-left: 36%;background-color: #34d034;">Submit</button>
                                        <button *ngIf="edit" (click)="update()" class="btn-space" mat-raised-button
                                            color="accent"
                                            style="margin-left: 36%;background-color: #34d034;">Update</button>
                                        <button color="primary" type="button" class="btn-space" (click)="reset()"
                                            mat-raised-button>Reset</button>
                                        <button color="warn" type="button" class="btn-space" (click)="onCancel()"
                                            mat-raised-button>Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>