<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="' Department'" [items]="['Master']" [active_item]="'View Department'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body">
                <style>
    .border1 {

        border-collapse: collapse;
    }
    .bold {
        font-weight: 600;
    }
    b {
        font-size: 13px;
    }
</style>
<form class="m-4" [formGroup]="docForm">
    <div class="container border" id="salesOrderdview" style=" border: 1px solid #b8a6dd!important; border-radius: 10px; background-color: #ecebf7;">
        <div style="margin-top: 45px; margin-left: 350px;">
            <table style="width: 100% !important; margin-left: 60px;">
                <tr>
                    <table >
                        <tr >
                            <td style="text-align: right;" >
                                <b>DEPARTMENT NAME:</b>
                            </td>&nbsp;
                            <td >
                                {{departmentMaster?.departmentName}}
                            </td>
                            </tr>
                            <br>
                            <tr>
                            <td style="text-align: right;width: 93px;">
                                <b>DEPARTMENT HEAD:</b>
                            </td>&nbsp;
                            <td >
                                {{departmentMaster?.deptHead}}
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td style="text-align: right; width: 141px;" >
                                <b>REMARKS :</b>
                            </td>&nbsp;
                            <td >
                                {{departmentMaster?.remarks}}
                            </td>
                        </tr>
                        <br>
                        <tr>
                          
                        </tr>

                    </table>
                </tr>

            </table>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button color="warn" (click)="onCancel()" type="button"
                        mat-raised-button style="margin-left:17%;">CANCEL</button>
                </div>
            </div>
        </div>


    </div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
